* {
  box-sizing: border-box;
}
a {
  text-decoration: unset;
}
:root{
  margin: 0;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  font-size: 120%;
  width: 100%;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.1));
  border-bottom: 1px solid #0002;
}


#main {
  margin: 1em 1em;
  text-align: justify;
  max-width: 40em;
  flex: 1;
}


footer {
  font-size: 80%;
  padding: 1em;
}
