<!DOCTYPE html>
<meta charset='utf-8'>
<link rel=stylesheet href='{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}'>

{% seo %}

<nav>
  <div>
    <a href='{{ '/' | relative_url }}'>{{ site.title | default: site.github.repository_name }}</a>
  </div>
  <div>
    <a href='https://discord.gg/playdate'>Articles</a>
    <x-sep></x-sep>
    <a href='https://discord.gg/playdate'>Chat</a>
  </div>
</nav>

<section id=main>
  {{ content }}
</section>


<footer>
  <a href='{{ site.github.repository_url }}'>View/Edit on GitHub</a>
</footer>
